
.card_cacifo{
    display: inline-block;
    background: white;
    border-color: transparent;
    border-radius: 0.5rem;
    width: 200px;
    height: 200px;
}

.coluna_cacifo{

    height: 200px;
    width: 200px;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    display: inline-block;
    background: white;
    border-color: #5887F9;
    border-bottom-width: 20px;
    border-radius: 1rem;
    margin: auto 26px 26px auto;

}
.btn_detalhes{
    background-color: #5887F9;
    border: none;
    color: white;
    margin-top: 20px;
    border-radius: 0.3rem;
    text-align: center;
}

.btn_detalhes a{
    color: white;
    text-decoration: none;
    text-align: center;

}
.badge{
    height:20px;
    width:45px;
    float: right;
    background-Color: #F1F3F6;
    color: #333;
    text-Align:center;
}