
.detalhe_titulo{
    font-weight: bold;
    font-size: larger;
}
.detalhe_text{
    padding: 0 50px!important;
}

.table_encomenda{
    background-color: white;
    margin-top: 20px;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}