

/*pagina inicial*/

.wrap {
    display: inline-block;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-top: auto;
    height: auto;
    border: none;

}

.table_in{
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    background-color: white;
}

.text-wrap{
    margin: auto;
    padding: 0;
}
.text-wrap h1{
    color: #5887F9;
    text-align: center;
}

.wrap:hover {
    background-color: #5887F9;
    color: white;
}
.wrap:hover h1{
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 1rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 0.5rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

p {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1rem;
}

.texto_cards{
    text-align: center;
}